<aside>
	<button class="pl-c-header__nav-toggle pl-js-nav-trigger">Menu</button>

	<h1>Pattern Library</h1>

	<div class="pl-c-typeahead__wrapper">
		<label for="typeahead"><i class="fa fa-search"></i></label>
		<input class="pl-c-typeahead" id="typeahead" type="text" placeholder="Find Pattern" />
	</div>

	<nav class="pl-c-nav pl-js-nav-target pl-js-nav-container" role="navigation">

		<ol class="pl-c-nav__list pl-js-pattern-nav-target">
			<!-- pattern lab nav will be inserted here -->
		</ol><!--end pl-c-nav__list-->

		<div class="pl-c-nav__notfound">
			Your search does not match anything in this library :/
		</div>

	</nav><!--end pl-c-nav-->
</aside>