/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

aside {
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #008299;
    color: #FFF;
    z-index: 2;
    overflow-y: auto;

    h1 {
      padding: 0 20px;
    }

    a {
        text-decoration: none;
    }
    ol {
        list-style: none;
        padding-left: 15px;

        &.pl-c-nav__sublist {
            padding-top: 5px;
        }
    }

    .pl-c-typeahead__wrapper {
        position: relative;

        label {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 15px;
          font-size: 20px;
          width: 20px;
          height: 20px;
          color: #FFF;
          margin: auto;
        }

        .pl-c-typeahead {
          width: 100%;
          padding: .5rem .75rem;
          line-height: 1.25;
          outline-offset: -2px;
          -webkit-appearance: none;
          height: 2.3em;
          padding-left: 48px;
          font-size: 18px;
          color: inherit;
          background: transparent;
          border: none;
          border-bottom: 1px solid;
          border-radius: 0;
          box-shadow: none;
          transition-duration: 0s;
          opacity: 0.5;
          transition: ease 125ms;
        }
    }

    .pl-c-nav {
        margin-top: 20px;
        
        .pl-c-nav__notfound {
            display: none;
        }
        .pl-c-nav__list > .pl-c-nav__item:last-child,
        .pl-c-nav__sublist > .pl-c-nav__item:last-child,
        .pl-c-nav__subsublist > .pl-c-nav__item:first-child {
          display: none;
        }
        .pl-c-nav__link::after {
          display: none;
        }

        .pl-c-nav, .pl-c-nav__list {
          flex-direction: column;
          padding: 0 10px
        }

        .pl-c-nav__list .pl-c-nav__item {

             .pl-c-nav__sublist, .pl-c-nav__subsublist {
                max-height: 50rem;
                position: static;
                background: transparent;
                margin-bottom: 10px;
            }
            .pl-c-nav__link {
              background: transparent;
              color: inherit;
              font-size: 20px;
              font-weight: 600;
              padding: 2px 0;
            }
            .pl-c-nav__sublist .pl-c-nav__item .pl-c-nav__link {
              font-weight: 600;
              font-size: 14px;
            }
            .pl-c-nav__subsublist .pl-c-nav__item .pl-c-nav__link {
              font-weight: 200;
              font-size: 12px;
            }
        }

    }

}

.main-wrapper {
    width: 85%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;

    .pl-c-header {
      position: absolute;
    }
    .pl-c-viewport {
      position: absolute;
    }
    .pl-c-viewport__iframe {
      width: 100% !important;
    }
    .pl-c-viewport__iframe-wrapper {
        max-width: 100%;
    }
}